
.recipeCard,
.recipeCard .MuiPaper-root {
    position:relative;
}

.recipeCard .MuiCardActions-root:nth-of-type(3) {
    position:absolute;
    top:16px;
    right:16px;
    padding:0;
}

.recipeCard .MuiButtonBase-root.MuiIconButton-root {
    padding:0;
}

.recipeCard .MuiCardContent-root {
    padding-top:0;
}

.userLink a {
    display: inline-block;
    font-size:inherit;
}

.recipeCard a:hover {
    cursor: pointer;
}