

/* -------------------------- */
/* ----- general styles ----- */
/* -------------------------- */

.flexWrap#Register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:65vh;
    text-align:center;
    overflow: hidden;
}


/* -------------------------- */
/* ------ image styles ------ */
/* -------------------------- */

#Register .logo {
    width:9rem;
    height:9rem;
    border:1px solid #be8c60;
    border-radius:50%;
    background-color:#d49c6b;
    padding:0 0.5rem;
    display:block;
    margin:0px auto;
    margin-bottom:1rem;
}


/* -------------------------- */
/* ------- text styles ------ */
/* -------------------------- */

#Register h1 {
    margin:0;
    color:#252b31;
}


/* -------------------------- */
/* ------- form styles ------ */
/* -------------------------- */

#Register .MuiInputBase-input {
    background-color:white;
    border-radius: 4px;
  }
  
  #Register .inputWrapper {
    margin-top:0.5em;
  }
  
  #Register .inputWrapper:first-of-type {
    margin-top:1.5em;
  }
  
  #Register button {
    margin-top:1.5em;
    margin-bottom:1.5em;
  }
  
  #Register .MuiOutlinedInput-input {
    padding:7.5px 14px;
  }
  