
#root,
html {
  background-color: rgba(120, 130, 108, 0.15);
  overflow-y: auto;
  overflow-x:hidden;
  height:95vh;
}

html body {
  padding-right:0 !important;
}

a { 
  text-decoration: none !important;
  color:rgba(97, 98, 68, 1) !important;
}

a:hover {
  cursor: pointer;
}

.br {
  display:block;
}

h1, h2, h3, h4, h5, h6 {
  color:#2f3c16;
}

.App-body {
  height:100vh;
  width:100vw;
  overflow: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


