
#newBrew #newBrewForm {
    background-color:white;
    box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.4);
    width:60%;
    margin:0px auto;
    margin:5%;
    padding:2% 5% 2% 5%;
}

#newBrew .brewName {
    margin-top:2rem !important;
}

#newBrew .brewDescription {
    margin-bottom:1rem !important;
    margin-top:2rem !important;
}

#newBrew .txtAREA {
    margin-top:1em !important;
    display: block;
}

#newBrew .MuiFormControl-root.MuiTextareaAutosize-root {
    display:block !important;
    margin-top:2rem !important;
}

#newBrew .MuiFormControl-root.MuiTextField-root {
    display:block !important;
}

#newBrew #newBrewForm .MuiButton-label {
    text-transform:capitalize;
}

#newBrew #newBrewForm .ingredients .ingredient {
    margin-top:0.35em;
}

#newBrew #newBrewForm .addInputButton {
    margin-top:1.5em;
    margin-bottom:2.5em;
}

#newBrew #newBrewForm #submit .MuiButton-label {
    text-transform: uppercase;
    font-weight:bold;
}

#newBrew #newBrewForm #submit {
    background-color: rgba(185, 196, 179, 1);
    font-weight: bold;
    color: rgba(47, 61, 48, 1);
    margin-top:5em;
}

#newBrew #newBrewForm #selectLabel {
    margin-top:2em;
}

#newBrew #newBrewForm #formButtonWrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top:2em;
}

#newBrew #newBrewForm .MuiButton-containedPrimary {
    background-color:black;
}

@media only screen and (min-width:700px) {

    #newBrew #newBrewForm input,
    #newBrew #newBrewForm textarea,
    #newBrew #newBrewForm select {
        width:23.5em !important;
    }

    /* #newBrew #newBrewForm .formGroup input,
    #newBrew #newBrewForm #formButtonWrap {
        width:25em !important;
    } */

}


@media only screen and (min-width:400px) and (max-width:699px) {

    #newBrew {
        margin-bottom:10%;
    }

    #newBrew #newBrewForm {
        width:85%;
        margin:0px auto;
    }
    
    #newBrew #newBrewForm input,
    #newBrew #newBrewForm textarea,
    #newBrew #newBrewForm select {
        width:18.5em !important;
    }

    #newBrew #newBrewForm .formGroup input {
        width:20em !important;
    }

    #newBrew #submit {
        margin-bottom:5%;
        margin-right:5%;
    }

    
}

@media only screen and (max-width:399px) {

    #newBrew {
        margin-bottom:10%;
    }

    #newBrew #newBrewForm {
        width:85%;
        margin:10px auto;
    }

    #newBrew #newBrewForm input,
    #newBrew #newBrewForm textarea,
    #newBrew #newBrewForm select,
    #newBrew #newBrewForm #formButtonWrap  {
        min-width:0 !important;
    }
    
    #newBrew #submit {
        margin-bottom:5%;
        margin-right:5%;
    }

}

