
#newBrew #newBrewForm {
    background-color:white;
    border:1px solid black;
    width:60%;
    margin:0px auto;
    margin:5%;
    padding:0 5% 2% 5%;
}

#newBrew .MuiFormControl-root.MuiTextField-root {
    display:block !important;
    margin-top:2rem !important;
}

#newBrew #newBrewForm .MuiButton-label {
    text-transform:capitalize !important;
}

#newBrew #newBrewForm .addInputButton {
    margin-top:2em;
}

#newBrew #newBrewForm #selectLabel {
    margin-top:3em;
}

#newBrew #newBrewForm #formButtonWrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top:2em;
}

#newBrew #newBrewForm .MuiButton-containedPrimary {
    background-color:black;
}

@media only screen and (min-width:700px) {

    #newBrew #newBrewForm input,
    #newBrew #newBrewForm textarea,
    #newBrew #newBrewForm select {
        width:23.5em !important;
    }

    #newBrew #newBrewForm .formGroup input,
    #newBrew #newBrewForm #formButtonWrap {
        width:25em !important;
    }

}


@media only screen and (min-width:400px) and (max-width:699px) {

    #newBrew #newBrewForm {
        width:85%;
        margin:0px auto;
    }
    
    #newBrew #newBrewForm input,
    #newBrew #newBrewForm textarea,
    #newBrew #newBrewForm select {
        width:18.5em !important;
    }

    #newBrew #newBrewForm .formGroup input,
    #newBrew #newBrewForm #formButtonWrap {
        width:20em !important;
    }
}

@media only screen and (max-width:399px) {

    #newBrew #newBrewForm {
        width:85%;
        margin:0px auto;
    }

    #newBrew #newBrewForm input,
    #newBrew #newBrewForm textarea,
    #newBrew #newBrewForm select,
    #newBrew #newBrewForm #formButtonWrap  {
        min-width:0 !important;
    }

}

