footer {
    position:fixed;
    bottom:0;
    background-color:#5e6668;
    color:white;
    text-align:center;
    height:5vh;
    width:100vw;
}

footer h4 {
    font-weight:300;
    font-size:0.8rem;
}