

#searchWrapper h2 {
    text-align: left;
    margin-left:10px;
}
#searchWrapper #searchInputs {
    display:flex;
    flex-direction: row;
}

#searchWrapper #searchInputs #searchBox {
    flex:4;
    background-color:white;
    margin-left:10px;
}

#searchWrapper #searchInputs #searchBoxVerticalAlign {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#searchWrapper #searchInputs .searchTypeWrapper {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#searchWrapper #searchInputs button {
    flex:1;
    margin: 10px;
    border: 1px solid #aaa;
    background-color: white;
}

#searchWrapper #search-results {
    margin-left:10px;
    margin-right:10px;
}

#searchWrapper #search-results .userCard .MuiCardMedia-root {
    display:none;
}

#searchWrapper #search-results .userCard {
    position:relative;
    overflow:visible;
    margin:0px auto;
    margin-top:40px;
    width:95%;
}

#searchWrapper #search-results .userCard .MuiAvatar-root {
    width:70px;
    height:70px;
    /* position:absolute;
    left:-20px; */
}

#searchWrapper #search-results .userCard .text-verticalAlign {
    margin-left:5%;
    height:inherit;
    display: flex;
    flex-direction: column;
    justify-content:center;
}

#searchWrapper #search-results .userCard .text-verticalAlign h2 {
    margin-left:0;
    margin-bottom:0;
}

#searchWrapper #search-results .userCard .MuiTypography-body2 {
    position:absolute;
    right:16px;
    top:16px;
    left:auto;
    bottom:auto;
}

#searchWrapper #search-results .userCard .flexWrap-horizontal {
    margin-bottom:0;
}