

#searchWrapper h2 {
    text-align: left;
    margin-left:10px;
}
#searchInputs {
    display:flex;
    flex-direction: row;
}

#searchInputs #searchBox {
    flex:4;
    background-color:white;
    margin-left:10px;
}

#searchInputs #searchBoxVerticalAlign {
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#searchInputs .searchTypeWrapper {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#searchInputs button {
    flex:1;
    margin: 10px;
    border: 1px solid #aaa;
    background-color: white;
}

#search-results {
    margin-left:10px;
    margin-right:10px;
}