/* -------------------------- */
/* ----- general styles ----- */
/* -------------------------- */

/* .sidebarWrap {
    background-color:black;
} */

.sidebarWrap .userCard {
    background-color:white;
}

.sidebarWrap .userCard h2,
.sidebarWrap .userCard p {
    text-decoration: none;
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding:2rem !important;
}

