/* -------------------------- */
/* ----- general styles ----- */
/* -------------------------- */

#Feed {
    height:100%;
    padding-bottom:7%;
}

.MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding:2rem !important;
}

#Feed .makeStyles-root-1,
#Feed .makeStyles-root-3,
#Feed .makeStyles-root-9,
#Feed .MuiPaper-root.MuiCard-root {
    max-width:none !important;
}

#Feed .innerSidebarWrap .makeStyles-root-1,
#Feed .innerSidebarWrap .makeStyles-root-3 {
    max-width:345px;
}

#Feed .innerSidebarWrap .userCard .bio {
    display:none;
}

#Feed .innerSidebarWrap .userCard h2 {
    font-size:1.3rem;
}

#Feed .innerSidebarWrap .userCard .MuiCardContent-root {
    padding-bottom:10px;
}

#Feed .innerSidebarWrap .followScoreWrapper {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#Feed .innerSidebarWrap .score {
    display:flex;
    flex-direction:column-reverse;
    justify-content: center;
    height:inherit;
}

#Feed .recipeCard {
    margin-top:1rem;
}

#Feed .innerSidebarWrap {
    margin-top:0;
}

#Feed .sidebarWrap {
    padding-left:5%;
}

#Feed .userCard,
#Feed .userCard .MuiPaper-root {
    position:relative;
}

#Feed .userCard #followerButtonWrapper {
    position:absolute;
    right:5px;
    bottom:5px;
}

/* #Feed .userCard .MuiCardContent-root:last-child {
    padding-bottom:30px;
} */

@media only screen and (max-width:959px) {

    #Feed .MuiGrid-container {
        flex-direction: column-reverse;
    }

    #Feed .userCard #followerButtonWrapper {
        position:absolute;
        left:16px;
        top:5px;
        bottom:auto;
        right:auto;
        height:2em;
        display:flex;
    }

    #Feed .userCard #followerButtonWrapper button {
        background-color: #ccc;
        border-radius: 5%;
        height: 2em;
    }

    #Feed #topUsersWrap {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap:wrap;
    }

    

}


@media only screen and (min-width:600px) and (max-width:959px) {

    #Feed #topUsersWrap .userCardWrap {
        width:45%;
    }

}


@media only screen and (max-width:599px) {

    #Feed #topUsersWrap .userCardWrap {
        width:95%;
    }

}