/* -------------------------- */
/* ----- general styles ----- */
/* -------------------------- */

#Feed .feedWrap {
    display:flex;
    flex-direction:row-reverse;
    padding:1%;
}

#Feed .sidebarWrap {
    display:flex;
    flex-direction:column;
    width:30%;
}

#Feed .mainFeed .recipeCard {
    border:1px solid black;
    background-color:white;
    padding:1rem;
    margin-bottom:1rem;
    max-height:none;
}

#Feed .sidebarWrap .recipeCard,
#Feed .sidebarWrap .userCard {
    border:1px solid black;
    background-color:white;
    padding:1rem;
    margin-bottom:1rem;
}


#Feed .sidebarWrap .recipeCard h3,
#Feed .sidebarWrap .userCard h3 {
    margin:0;
}

#Feed .sidebarWrap .sidebarHeader {
    position:sticky;
    top:0;
    height:5%;
    background-color:black;
}

#Feed .sidebarWrap .sidebarFooter {
    position:sticky;
    bottom:-1%;
    height:6%;
    background-color:black;
}

/* -------------------------- */
/* - feed / overflow styles - */
/* -------------------------- */

#Feed .sidebarWrap .popularRecipesFeed, 
#Feed .sidebarWrap .popularUsersFeed {
    height:35vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    background-color:black;
    border:1px solid black;
    padding:0 5% 0 5%;
    position:relative;
}

#Feed .sidebarWrap .popularUsersFeed {
    margin-top:3vh;
}

#Feed .mainFeed {
    width:70%;
    padding:1rem;
    height:70vh;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

#Feed .mainFeed::-webkit-scrollbar {
    display:none;
}

#Feed .sidebarWrap .popularRecipesFeed::-webkit-scrollbar,
#Feed .sidebarWrap .popularUsersFeed::-webkit-scrollbar {
    display:none;
}

/* -------------------------- */
/*   ellipses sidebar styles  */
/* -------------------------- */

#Feed .sidebarWrap .recipeCard {
    --max-lines: 3;
    max-height: 10rem;
    /* overflow: hidden; */
}

#Feed .sidebarWrap .recipeCard::before {
    content: "...";
    position: absolute;
    bottom: 0;
    right: 0;
  }

  #Feed .sidebarWrap .recipeCard::after {
    content: "";
    position: absolute;
    right: 0; /* note: not using bottom */
    width: 1rem;
    height: 1rem;
    background: white;
    display: none;
  }
  
  #Feed .sidebarWrap {
    line-height: var(--lh);
    --lh: 1.4rem;
}
  
.sidebarWrap .truncate-overflow {
    --max-lines: 3;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
  }

.sidebarWrap .truncate-overflow::before {
    position: absolute;
    content: "...";
    bottom: 0;
    right: 0;
  }


/* -------------------------- */
/* ---- user card styles ---- */
/* -------------------------- */

