/* -------------------------- */
/* ----- general styles ----- */
/* -------------------------- */

.MuiGrid-spacing-xs-3 > .MuiGrid-item {
    padding:2rem !important;
}

#Feed .makeStyles-root-1,
#Feed .makeStyles-root-3 {
    max-width:none !important;
}

#Feed .recipeCard {
    margin-top:1rem;
}

#Feed .innerSidebarWrap {
    margin-top:2rem;
}
