/* -------------------------- */
/* ----- general styles ----- */
/* -------------------------- */


#Profile .userCard .MuiCardMedia-root {
    display:none;
    height:0;
}

#Profile .avatar {
    width:15rem;
    height:15rem;
    padding:0 0 0 12px;
    border-radius:0;
}

#Profile .avatar img {
    border-radius:5%;
}

#Profile #userName {
    margin:0.2em;
    margin-bottom:0;
    text-align:left;
}

#Profile #bioViewState .MuiIconButton-root {
    border-radius:0;
    font-size:1rem;
    line-height:1.25;
    text-align: left;
    width:100%;
}

#Profile #bioViewState .MuiTypography-root {
    width:90%;
    overflow-wrap: break-word;
}

#Profile #bioViewState .MuiSvgIcon-root {
    visibility: hidden;
}

#Profile #bioViewState:hover .MuiSvgIcon-root,
#Profile #bioViewState:focus .MuiSvgIcon-root {
    visibility: visible;
}

#Profile .bioSubheadFlex {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:90%;
    margin-bottom:2em;
    padding:12px;
}

#Profile .bioSubheadFlex p {
    text-align: left;
}

/* #Profile .bioSubheadFlex p {
    text-align: right;
} */

#Profile .bioSubheadFlex .bioSubheadTitle {
    text-transform:uppercase;
    opacity:0.5;
    font-weight:bold;
    font-size:65%;
}

#Profile #bioEditState {
    width:95%;
}

#Profile #bioEditState .MuiInputBase-root {
    width:95%;
}

#Profile #bioEditState textarea {
    width:inherit;
}
#Profile #bioEditState {
    position:relative;
}

#Profile #bioEditState button {
    position:absolute;
    bottom:0;
    right:-2em;
}

#Profile .userCard {
    margin-top:3em;
}

#Profile .userCard .MuiAvatar-root {
    height:65px;
    width:65px;
    position:absolute;
    left:-1rem;
    top:-1.5rem;
}

#Profile .userCard.MuiPaper-root {
    position:relative;
    overflow:visible;
}

#Profile .userCard .text-verticalAlign h2 {
    margin-left:3rem;
    margin-bottom:0;
}  

#Profile .userCard .flexWrap-horizontal {
    margin-bottom:0;
}


#Profile .userCard .MuiTypography-root.MuiTypography-body2 {
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
}

#Profile .userCard #followerButtonWrapper {
    position: absolute;
    bottom: -2em;
    right: 0.5em;
}

#Profile .userCard #followerButtonWrapper .MuiButtonBase-root {
    padding:0;
}

#Profile .recipeCard {
    margin-top:1rem;
    position:relative;
}

#Profile .recipeCard .MuiCardHeader-content {
    max-width:10rem;
}

#Profile .miniFeedWrap {
    margin-bottom:2em;
}