/* -------------------------- */
/* ----- general styles ----- */
/* -------------------------- */


#Profile .userCard .MuiCardMedia-root {
    display:none;
    height:0;
}

#Profile .avatar {
    width:15rem;
    height:15rem;
    margin:0px auto;
}

#Profile .makeStyles-root-1,
#Profile .makeStyles-root-3 {
    max-width:100%;
}

#Profile .recipeCard {
    margin-top:1rem;
}

#Profile #bio {
    margin:2rem auto 2rem auto;
    width:90%;
    text-align: center;
}

#Profile .miniFeedWrap {
    margin-top:2rem;
}