
/* -------------------------- */
/* ----- general styles ----- */
/* -------------------------- */

header {
    padding:1% 5%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:#282c34;
    height:3.5rem;
}

header .vertical-align {
    display: flex;
    flex-direction:column;
    justify-content: center;
    height:100%;
}

header h2 {
    color:white;
}


/* -------------------------- */
/* ------ image styles ------ */
/* -------------------------- */

header .logo {
    width:3.2rem;
    border:1px solid #be8c60;
    border-radius:50%;
    background-color:#d49c6b;
    padding:0 0.15rem;
}

header .avatar {
    width: 3rem;
    border: 0px solid white;
    background-color: white;
    border-radius: 50%;
}
