.userCard {
    margin-top:1rem;
}

.userCard .flexWrap-horizontal {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin-bottom:1rem;
}

.userCard .text-verticalAlign h2 {
    line-height:1.7;
    margin-left:1rem;
}