
/* -------------------------- */
/* ------ navbar styles ----- */
/* -------------------------- */

.navbar {
  background-color:rgba(47, 61, 48, 1);
  padding:0.5rem 0.5rem 0.5rem 0.5rem;
  height:5rem;
}

.navbar .navbar-nav {
  height:5rem;
}

.navbar a {
  color:white;
  text-decoration: none;
}

.navbar #logo {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border:1px solid rgba(166, 175, 161, 0.9);;
    border-radius:50%;
    background-color:rgba(166, 175, 161, 0.9);;
    padding:0 0.15rem;
}

.navbar .avatar {
  width: 3.5rem;
  height: 3.5rem;
  border: 0px solid white;
  background-color: white;
  border-radius: 50%;
  margin:0px;
}

.navbar li {
  list-style-type: none;
}

.navbar li .nav-link {
  display:flex;
  flex-direction:column;
  justify-content: center;
  margin:0px auto;
}


/* -------------------------- */
/* ---- logged in navbar ---- */
/* -------------------------- */


.navbar-loggedIn {
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  
}

.navbar .navbar-loggedIn .nav-item {
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.navbar .userSpecific-navWrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width:15%
}

.navbar li .nav-link.newBrew-button {
  padding:0.75rem 1.25rem;
  margin-right:1rem;
  text-transform: none;
}

.navbar .classicNavButton-wrap:first-of-type {
  margin-right:2em;
}

.navbar .classicNavButton-wrap {
  height:100%;
  display:flex;
  flex-direction:column;
  justify-content: center;
}

.navbar .classicNavButton-wrap button {
  background-color:rgba(185, 196, 179, 1);
  font-weight: bold;
  color:rgba(47, 61, 48, 1);
}

.navbar .navbar-loggedOut {
  margin-right:1.5em;
}

.navbar .subMenu-wrap {
  padding-bottom:1.5rem;
  margin-bottom:-1.5rem;
}

.navbar .subMenu-wrap:hover .userMenu-showHide {
  display:block;
  z-index:5;
}

.navbar .subMenu-wrap .userMenu-showHide {
  position:absolute;
  background-color:white;
  color:black;
  z-index:5;
  border:1px solid black;
  text-align:center;
  padding-left:0;
  padding:1%;
  right:0;
  width:10rem;
  z-index:5;
  top:4rem;
}

.navbar .subMenu-wrap:hover .userMenu-showHide li a,
.navbar .subMenu-wrap:hover .userMenu-showHide li {
  color:black;
  display:block;
}

.navbar .subMenu-wrap .userMenu-showHide {
  display:none;
}

.userMenu-showHide li {
  padding:5%;
}


/* -------------------------- */
/* --- logged out navbar ---- */
/* -------------------------- */


.navbar-loggedOut {
  display:flex;
  flex-direction:row;
  justify-content: flex-end;
}

.navbar-loggedOut li:nth-child(1) {
  margin-right:4rem;
}

.navbar-loggedOut .MuiButton-root {
  min-width:10em;
  padding: 0.75rem 1.25rem;
  text-transform:none;
}

/* -------------------------- */
/* --- drop down menu ---- */
/* -------------------------- */

.navbar #profileMenuButton {
  background-color:transparent;
  box-shadow:none;
  padding-top:0;
  padding-bottom:0;
  padding-right:0;
  height:100%;
}

.navbar #profileMenuButton .MuiButton-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height:100%;
  color:white;
  text-transform: none;
  min-width:8em;
}

.MuiMenu-list .nav-link {
  display:flex;
  flex-direction: row;
  justify-content: center;
}

.MuiMenu-list .MuiListItemIcon-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.MuiMenu-list .MuiListItemIcon-root {
  min-width:40px;
}

.MuiMenu-list .MuiButton-root {
  padding:0;
}

.MuiMenu-list .MuiListItem-root.MuiMenuItem-root:focus,
.MuiMenu-list .MuiListItem-root.MuiMenuItem-root:hover {
  background-color:#fff !important;
}

.MuiMenu-list .MuiListItem-root.MuiMenuItem-root:focus a div,
.MuiMenu-list .MuiListItem-root.MuiMenuItem-root:focus a .MuiTypography-root,
.MuiMenu-list .MuiListItem-root.MuiMenuItem-root a .MuiTypography-root {
  color: rgba(0, 0, 0, 0.54) !important;
}

.MuiMenu-list .MuiListItem-button {
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition-property: background-color;
}